.card {
  width: 250px;
  height: 380px; 
  padding: 15px;
  margin: 5px;
  border: 1px solid #f8aad0;
  border-radius: 12px;
  box-shadow: 0 2px 5px #ff59b41a;
  overflow: hidden;
  text-align: center;
  background-color: white;
  color: #75505c;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative; 
  z-index: 1; 
}

.card:hover {
  width: 250px;
  height: 380px;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  background-color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  z-index: 1;
  overflow: hidden; 
}

.card:hover {
  transform: scale(1.02) translateY(-1px);
  box-shadow: 0 12px 25px rgba(255, 91, 165, 0.4);
  z-index: 20;
  overflow: visible; 
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: contain;
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 8px;
}

.like-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 50;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.card-info .desc {
  color: #61595c;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s ease;
}

.card:hover .desc {
  -webkit-line-clamp: unset;
  line-clamp: unset; 
  overflow: visible;
  white-space: normal;
  background: white;
  padding: 5px;
  border-radius: 6px;
  box-shadow: 0 2px 10px #ef429f26;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px; 
  z-index: 25;
}

.card-link {
  text-decoration: none;
}

