<div class="brand-filter">
  <button 
    *ngFor="let brand of brands" 
    (click)="filterByBrand(brand)" 
    [class.active]="brand === selectedBrand"
    class="filter-btn">
    {{ brand }}
  </button>
</div>

<div class="line">
  <div class="favorites-counter">
    Favorites: {{ favoritesCount }}
  </div>
  <div class="search">
    <input 
      type="text" 
      placeholder="Search products..." 
      [(ngModel)]="searchQuery"
      (input)="onSearchChange($event)"
    />
  </div>
</div>

<div class="product-grid">
  <app-product-detail 
    *ngFor="let product of paginatedProducts()" 
    [product]="product"
    [onFavoriteChange]="handleFavoriteChange.bind(this)">
  </app-product-detail>
</div>

<div class="pagination">
  <button (click)="prevPage()" [disabled]="currentPage === 1">Prev</button>
  <span>Page {{currentPage}} / {{ totalPages() }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages()">Next</button>
</div>
