header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    margin: 0 5px;
    border-radius: 6px;
    background-color: #ff81ab;
    box-shadow: 1px 3px 5px #8f4b6b;;
}

img {
    width: auto;
    height: 50px;
}

a {
    margin: 0 30px;
    color: #ffffff;
}

a:hover {
    text-decoration: underline;
}

.logout-link {
  margin: 0 30px;
  color: #ffffff;
  cursor: pointer;
}

.logout-link:hover {
  text-decoration: underline;
}
