.auth-container {
  width: 400px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px #ff81ab33;
  color: #75505c;
}

h2 {
  text-align: center;
  color: #ff81ab;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px;
  border: 1px solid #ff8bd2;
  border-radius: 6px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #ff81ab;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #d8538c;
}

.error {
  color: red;
  text-align: center;
  margin-top: 10px;
}
